@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

.file {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.splitter {
  margin-inline: 8px;
}

.importZone {
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  border: 1.5px dashed rgba($color: #000000, $alpha: 0.5);
  border-radius: 4px;
  cursor: pointer;

  @include desktop-hover {
    &:hover {
      border-color: $secondary-color;
      background-color: rgba($color: $secondary-color, $alpha: 0.1);
    }
  }
}

.linkText {
  text-decoration: underline;
  color: $secondary-color;
}

.files {
  margin-top: 8px;
}

.activeZone {
  border-color: $secondary-color;
  background-color: rgba($color: $secondary-color, $alpha: 0.1);
  cursor: copy;
}

.disabled {
  cursor: default;

  .linkText {
    color: $disabled-color;
  }

  @include desktop-hover {
    &:hover {
      border: 1.5px dashed rgba($color: #000000, $alpha: 0.5);
      background-color: inherit;
    }
  }

  .activeZone {
    border-color: initial;
    background-color: rgba($color: $disabled-color, $alpha: 0.1);
    cursor: copy;
  }
}
