@use '@/styles/colors' as *;

.inputsGroup {
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.inputsGroupTitle {
  margin-bottom: 16px;
}
