@mixin on-tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin on-small-desktop {
  @media screen and (min-width: 1024px) and (min-height: 740px) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;

    grid-template-columns: repeat(var(--columns), 32px);
  }
}

@mixin desktop-hover {
  @media (hover: hover) {
    @content;
  }
}
