* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  outline: 0;
}

fieldset {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}

dt,
dl,
dd {
  margin: 0;
  padding: 0;
}
