@use './colors' as *;
@use './base' as *;
@use './mixins' as *;
@use './normilize' as *;

body {
  min-height: 100vh;
}

.container {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-small-desktop {
    padding-inline: 32px;
  }

  @include on-desktop {
    margin-inline: auto;
    max-width: 1200px;
  }
}

#root .leaflet-control-zoom {
  margin-left: 12px;
  margin-top: calc(64px + 12px);

  @include on-small-desktop {
    & {
      margin-top: 12px;
      margin-left: calc(64px + 12px);
    }
  }
}

#root,
.content,
.main {
  min-height: 100vh;
  min-width: 400px;
}
