@use './colors' as *;
@use './base' as *;
@use './mixins' as *;
@use './normilize' as *;

body {
  height: 100vh;
}

.container {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-small-desktop {
    padding-inline: 32px;
  }

  @include on-desktop {
    margin-inline: auto;
    max-width: 1200px;
  }
}

#root,
.content,
.main {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}
