@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

.header {
  position: sticky;
  display: block;
  width: 100%;
  background-color: $sidebar-color;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: 1000;

  @include on-small-desktop {
    display: none;
  }
}

.logo {
  height: 20px;

  img {
    height: 100%;
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.menuBtnIcon {
  color: $white-color;
}

.nav {
  flex: 1;
}

.navList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 8px;
  height: 40px;
  color: $white-color;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.12);
  }
}

.active {
  background-color: rgba($color: #ffffff, $alpha: 0.12);
}

.logoutBtn {
  cursor: pointer;
}
